@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

:host {
  @include position(fixed, ms(0), null, null, ms(0));
  @include size(auto, auto);

  background-size: auto 50%;
  font-family: $sans-default-family;
  font-size: 14px;
  font-weight: $bold;
  z-index: $layer-2;

  @include bp(4) {
    left: ms(3);
    top: ms(3);
  }
}

:host::before {
  @include position(absolute, 6px, null, null, -(ms(0)));
  @include size(3px, 55px);

  background-color: $red-mh;
  content: '';

  @include bp(4) {
    @include hide();
  }
}

a {
  text-decoration: none;

  &:visited {
    color: $default-text;
  }
}

.scroll-through {
  color: $red-mh;
  font-weight: bold;
}

a:hover .scroll-through {
  border-bottom: dotted 1px $default-text;
}

.highlight-all:hover {
  border-bottom: dotted 1px $default-text;
  color: $red-mh;
}

.digital-to-physical {
  .digital {
    @include show(inline);
  }

  .physical {
    @include hide();
  }
}

.highlight-all:hover.digital-to-physical {
  .digital {
    @include hide();
  }

  .physical {
    @include show(inline);
  }
}

dt {
  @include accessible-hide();
}

dd {
  @include position(relative);

  font-size: 11px;
  font-weight: 400;
  line-height: 2;
  padding-left: 8px;

  @include bp(4) {
    padding-left: 24px;
  }
}

dd::before {
  left: 0;
  position: absolute;

  @include bp(4) {
    content: '\2014';
    top: 2px;
  }
}

