@import '../../../../assets/css/_mixins.scss';
@import '../../../../assets/css/_variables.scss';

$text: $default-text;
$hover: $red-mh;

:host {
  background-size: auto 50%;
  display: block;
  font-family: $sans-default-family;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 16px;
  position: fixed;
  top: 16px;
  width: auto;
  z-index: 4;

  @include bp(1) {
    left: 16px;
  }

  @include bp(4) {
    left: 72px;
    top: 72px;
  }

  &:before {
    background-color: $red-mh;
    content: '';
    height: 55px;
    left: -16px;
    position: absolute;
    top: 6px;
    width: 3px;

    @include bp(4) {
      @include hide();
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    .scroll-through {
      border-bottom: dotted 1px $text;
      color: $hover;
    }
  }

  &:visited {
    color: $text;
  }

  &.highlight-all:hover {
    border-bottom: dotted 1px $text;
    color: $hover;

    &.digital-to-physical {
      .digital {
        display: none;
        visibility: hidden;
      }

      .physical {
        display: inline;
        visibility: visible;
      }
    }
  }
}

.digital-to-physical {
  .digital {
    display: inline;
    visibility: visible;
  }

  .physical {
    display: none;
    visibility: hidden;
  }
}

dt {
  @include accessible-hide();
}

dd {
  font-size: 11px;
  font-weight: 400;
  line-height: 2;
  padding-left: 8px;
  position: relative;

  @include bp(4) {
    padding-left: 24px;
  }

  &::before {
    left: 0;
    position: absolute;

    @include bp(4) {
      content: '\2014';
      top: 2px;
    }
  }
}

.scroll-through {
  color: $hover;
  font-weight: bold;
}
