@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

:host {
  background-size: auto 50%;
  border: solid 1px darken($red-mh, 10%);
  border-radius: ms(3);
  bottom: ms(0);
  font-family: $sans-default-family;
  font-size: ms(-1);
  font-weight: 700;
  height: ms(3);
  position: fixed;
  right: ms(0);
  width: ms(3);
  z-index: 1;

  @include bp(4) {
    background: none;
    border: 0;
    border-radius: 0;
    bottom: auto;
    height: auto;
    left: ms(3);
    right: auto;
    top: ms(3);
    width: 400px;
  }
}

.container {
  &::after {
    bottom: -(ms(3));
    content: '';
    height: 1px;
    left: -(ms(6));
    position: absolute;
    width: $hi-number;
  }
}

a {
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: $default-text;
  }
}

.highlight-all:hover {
  border-bottom: dotted 1px $default-text;
  color: $red-mh;
}

a:hover .scroll-through {
  border-bottom: dotted 1px $default-text;
  color: $red-mh;
}

dt {
  @include accessible-hide();
}

dd {
  @include hide();
  font-size: ms(0);
  font-weight: 400;
  letter-spacing: .7px;
  line-height: 2;
  padding-left: ms(2);
  position: relative;

  @include bp(4) {
    @include show(block);
  }

  &::before {
    content: '\2014';
    left: 0;
    position: absolute;
    top: 2px;
  }
}

.scroll-through {
  color: $red-mh;
  font-style: italic;
}
