@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

$grid-padding: 1;

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

dl {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

dt {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

dd {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

h2 {
  font-size: ms(2);
  font-weight: 400;
}

h3 {
  color: $red-mh;
  font-family: $sans-default-family;
  font-size: ms(0);
  font-weight: 400;
  padding: ms(-1) 0;
}

h4 {
  font-size: ms(1, $thread: aug);
  font-weight: 400;
  padding: ms(-1) 0;
}

h5 {
  font-family: $sans-default-family;
  font-size: ms(-1);
  padding: ms(0) 0 0;
}

p {
  font-family: $sans-default-family;
  font-size: ms(-1);
  line-height: ms(1);
}

a {
  color: $red-mh;
  font-family: $sans-default-family;
  font-size: ms(-1);
  line-height: ms(1);
}

.date-range {
  font-style: italic;
  opacity: .6;
  padding: ms(0) 0 0;
}

.title {
  color: $red-mh;
  font-style: italic;
  padding: 0 0 ms(0);
}

:host {
  /* autoprefixer: off */
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: ms(1);
  min-height: 100%;
  width: 100%;
  /* autoprefixer: off */
}

.inline-list * {
  display: inline;
}


.header {
  padding: ms(1);

  @include bp(4) {

    /* autoprefixer: off */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    /* autoprefixer: off */
  }
}

.contact {
  padding: ms($grid-padding);
  text-align: right;

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* autoprefixer: off */
  }
}

.experience {
  padding: ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* autoprefixer: off */
  }
}

.education {
  padding: ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* autoprefixer: off */
  }
}

.aside {
  padding: ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* autoprefixer: off */
  }
}

.p-b-1 {
  padding-bottom: ms(0);
}
