@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

// Helpers

$grid-padding: 1;


// Elemental

ul {
  list-style-type: none;
}

// Typographical

%standard-size {
  font-family: $sans-default-family;
  font-size: ms(0);
  line-height: ms(1);
}

p {
  @extend %standard-size;

  @include bp(4) {
    font-size: ms(-1);
  }
}

a {
  @extend %standard-size;

  color: $red-mh;
  text-decoration: none;

  @include bp(4) {
    font-size: ms(-1);
  }
}

h2 {
  font-size: ms(2);
  font-weight: 400;
}

h3 {
  color: $red-mh;
  font-family: $sans-default-family;
  font-size: ms(0);
  font-weight: 400;
  padding: ms(0) 0;

  @include bp(4) {
    padding: ms(-1) 0;
  }
}

// Structural
:host {
  /* autoprefixer: off */
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: ms(1);
  /* autoprefixer: off */

  min-height: 100%;
  padding: ms(0) 0;
  width: 100%;


  @include bp(4) {
    padding: 0;
  }
}

.header {
  padding: 0 ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    /* autoprefixer: off */

    padding: ms(1);
  }
}

.contact {
  padding: 0 ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* autoprefixer: off */

    padding: ms($grid-padding);
    text-align: right;
  }
}

.experience {
  padding: 0 ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* autoprefixer: off */

    padding: ms($grid-padding);
  }
}

.education {
  padding: 0 ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* autoprefixer: off */

    padding: ms($grid-padding);
  }
}

.aside {
  padding: 0 ms($grid-padding);

  @include bp(4) {
    /* autoprefixer: off */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* autoprefixer: off */

    padding: ms($grid-padding);
  }
}