
<header class="header">
  <h2>Matthew Harwood</h2>
  <h3>Developer + Multidisciplinary Designer</h3>
  <p>
    I am a generalist; slowly becoming a specialist in Web Development. I mix art, design, and technology, to create effective experiences that deliver value at scale. My professional goals are simple: surround myself by smart, energetic, creative people while working on solving problems that matter.
  </p>
</header>
<div class="contact">
  <ul>
    <li>
      <a href="https://www.morningharwood.com">www.morningharwood.com</a>
    </li>
    <li>
      <a href="mailto:matthhar12@gmail.com?subject=Hello Matthew">matthhar12@gmail.com</a>
    </li>
    <li>
      <a  href="tel:1-415-486-6018">
        1.415.486.6018
      </a>
    </li>
  </ul>
</div>
<div class="experience">
  <div class="wrapper">
    <h4>Experience</h4>
    <ul>
      <li>
        <h5>R/GA @ Google Mountain View</h5>
        <p class="date-range">August 2015 - Present</p>
        <p class="title">Senior Software Engineer</p>
        <p class="job-description">
          Works as an embedded Software Engineer for Google’s Interactive Marketing Division.
        </p>
      </li>
      <li>
        <h5>AKQA S.F.</h5>
        <p class="date-range">August 2014 - August 2015</p>
        <p class="title">Creative Developer</p>
        <p class="job-description">
          Worked as a Designer and Developer for physical and
          digital brand experiences e.g. Target and Nike. Also,
          worked as an embedded Web Developer for Apple’s
          Interactive Marcom division.
        </p>
      </li>
      <li>
        <h5>QOMO HiteVision</h5>
        <p class="date-range">January 2010 - January 2012</p>
        <p class="title">Marketing Developer</p>
        <p class="job-description">
          Created comprehensive marketing materials through
          web, print, and video for businesses, educational, and
          governmental establishments.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="education">
  <div class="wrapper">
    <h4>Education</h4>
    <ul>
      <li>
        <h5>Simon Fraser University</h5>
        <p class="date-range">September 2011 ~ January 2014</p>
        <p class="title">B.S. Interactive Systems</p>
        <p class="job-description">
          Studied how to design, develop, and apply interactive
          systems with particular emphasis on how people
          use them through a combination of computing
          foundations, user-centred design principles, and
          programming practice.
        </p>
      </li>
      <li>
        <h5>Wayne State University</h5>
        <p class="date-range">September 2005 ~ January 2008</p>
        <p class="title">B.A. Asian Studies</p>
        <p class="job-description">
          To prepare students for the increasing demand for
          professionals with training in Chinese and Japanese.
        </p>
      </li>
      <li>
        <h5>Oakland Community College</h5>
        <p class="date-range">January 2004 ~ December 2005</p>
        <p class="title">Liberal Arts Associate’s Degree</p>
        <p class="job-description">
          Created comprehensive marketing materials through
          web, print, and video for businesses, educational, and
          governmental establishments.
        </p>
      </li>
    </ul>
  </div>
</div>

<aside class="aside">
  <div class="wrapper">
    <h4>Technical</h4>
    <ul class="inline-list">
      <li *ngFor="let technique of techniques">
        <p>{{technique}}</p>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <h4>Interests</h4>
    <ul class="inline-list">
      <li *ngFor="let interest of interests">
        <p>{{interest}}</p>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <h4>Social</h4>
    <dl>
      <dt>Github</dt>
      <dd><a href="">matthewharwood</a></dd>
      <dt>Linkedin</dt>
      <dd>morningharwood</dd>
      <dt>Linkedin</dt>
      <dd>morningharwood</dd>
      <dt>Linkedin</dt>
      <dd>morningharwood</dd>
      <dt>Linkedin</dt>
      <dd>morningharwood</dd>
    </dl>

  </div>
</aside>

<div style="position:fixed; top:0; display: none;">
  <button (click)="go('menu')">Menu</button>
  <button (click)="back()">go back</button>
</div>
