@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

:host {
  left: ms(1);
  position: fixed;
  top: ms(0);
  z-index: 1;

  @include bp(4) {
    bottom: 0;
    left: ms(3);
    top: auto;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  &::before {
    background: $red-mh;
    content: '';
    height: ms(1);
    left: -(ms(1));
    position: absolute;
    width: ms(-3);
  }
}

h6,
p {
  color: $black-mh;
  font-family: $sans-default-family;
  font-size: ms(-1);
  font-weight: 300;
}

h6 {
  color: $red-mh;
}

a {
  text-decoration: none;

  &:hover {
    border-bottom: 1px dotted $black-mh;
    color: $red-mh;
  }

  &:visited {
    color: $black-mh;
  }
}
