@import '../../../../../assets/css/mixins';
@import '../../../../../assets/css/variables';



:host {
  display: block;
  overflow: hidden;
}

a {
  color: $default-text;
  cursor: pointer;
  display: flex;
  font-size: ms(2);
  line-height: 1.6;
  position: relative;
  text-decoration: none;

  @include bp(4) {
    font-size: ms(3);
    line-height: 1.4;
  }
}

a:hover {
  color: $red-mh;
}

a::before {
  background: $default-text;
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;

  @include bp(4) {
    height: 2px;
    left: 0;
    right: ms(3);
    width: 100%;
  }
}

span {
  @include bp(4) {
    display: flex;
    justify-content: flex-end;
    padding: 0 ms(0) 0 0;
    position: relative;
    width: 100%;
  }
}

i {
  @include hide();
  font-style: normal;
  font-weight: $bold;
  position: absolute;

  @include bp(4) {
    $index-offset: 4 * 1px;
    $i-font-size: 10 * 1px;

    @include show(inline-block);
    bottom: $index-offset;
    font-size: $i-font-size;
    right: $index-offset;
  }
}
