@import '../../../../../assets/css/mixins';
@import '../../../../../assets/css/variables';

$text: $default-text;
$text-size: 36 * 1px;
$hover: $red-mh;
$index-offset: 4 * 1px;
$i-font-size: 10 * 1px;

:host {
  display: block;
  overflow: hidden;
}

a {
  color: $text;
  cursor: pointer;
  display: flex;
  font-size: $text-size;
  line-height: 1.6;
  position: relative;
  text-decoration: none;
  @include bp(4) {
    font-size: 82px;
    line-height: 1.4;
  }

  &:hover {
    color: $hover;
  }

  &::before {
    background: $text;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: $default-bleed;
    width: 100%;

    @include bp(4) {
      height: 2px;
    }
  }

  .dark-filter & {
    color: $dark-copy;

    &:hover {
      color: $hover;
    }

    &::before {
      background: $dark-copy;
    }
  }

  .light-filter & {
    color: $light-copy;

    &:hover {
      color: $hover;
    }

    &::before {
      background: $light-copy;
    }
  }

  .sepia-filter & {
    color: $sepia-copy;

    &:hover {
      color: $hover;
    }

    &::before {
      background: $sepia-copy;
    }
  }

  font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
}

span {
  @include bp(4) {
    display: flex;
    justify-content: flex-end;
    padding: 0 $default-bleed 0 0;
    position: relative;
    width: 100%;
  }
}

i {
  @include hide();
  font-style: normal;
  font-weight: $bold;
  position: absolute;

  @include bp(4) {
    @include show(inline-block);
    bottom: $index-offset;
    font-size: $i-font-size;
    right: $index-offset;
  }
}
