@import '../../assets/css/mixins';
@import '../../assets/css/variables';

/**
 *  https://codepen.io/husnimun/pen/pJvEeL?q=hamburger&limit=all&type=type-pens
 */
$bar-width: ms(1);
$bar-height: 3px;
$bar-spacing: 6px;
$bg-on: rgba(0, 0, 0, 1);
$bg-off: rgba(0, 0, 0, 0);

:host {
  @include position(fixed, ms(0), null, null, ms(-1), $primary);
  @include size($bar-width, $bar-height + $bar-spacing*2);
  cursor: pointer;
  margin: auto;
}

.bar,
.bar::after,
.bar::before {
  @include size($bar-width, $bar-height);
}

.bar {
  background: $bg-on;
  position: relative;
  transform: translateY($bar-spacing);
  transition: all 0ms 300ms;

  &.animate {
    background: $bg-off;
  }
}

.bar::before {
  background: $bg-on;
  bottom: $bar-spacing;
  content: '';
  left: 0;
  position: absolute;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::after {
  background: $bg-on;
  content: '';
  left: 0;
  position: absolute;
  top: $bar-spacing;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate::before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
  transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
